# Logs
logs/

# Dependency directories
node_modules/

# Secrets and credentials
secrets/

# IDE configurations
.vscode/
.idea/
*.iml
config/

# Configuration files
eslint.config.mjs
.prettierrc
*.yaml
